body{
  margin-top: 10em;
}

h1.elh1{
  margin-left: 1em;
}

ul.elul{
  display: flex;
  flex-wrap: wrap;
  margin-left: 1em;
  width: 100%;
}

li.elli{
  display: flex;
  margin-bottom: 1em;
  border-radius: 10%;
  width: 40%;
  background-color: #F1EDEA;
  margin-right: 1em;
  justify-content: center;
  align-items: center;
}

a.ela{
  text-align: center;
  text-decoration: none;
  color: black;
}
