body{
  margin-top: 7.5em;
}

div.bigticket{
  width: 100%;
}

ul.ticketdescription{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35%;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  border: dashed 1px grey;
  padding: 2em;
  border-radius: 3em;
  margin-bottom: 10%;
}

li.productdescription{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

p.productticket{
  margin-bottom: 0.5em;
}

p.priceticket{
  margin-bottom: 0.5em;
}

div.totalticket{
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media(max-width: 992px){
  body{
    margin-top: 40%;
  }

  ul.ticketdescription{
    width: 90%;
  }
}
